html {
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size:large;
   background-color:var(--secondary-color);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.flex{
    display:flex;
    justify-content: center;
}


body{
    overflow-x: hidden; 
}


.sidebar{
    display: none;    
}
.menu1 >*{
    color:var(--text-color);
    text-decoration: none;
   
    font-weight:lighter;
    font-size:large;

}
#Home{
    z-index: 3;
}
.nav-bar{
    position: fixed;
    background-color:var(--secondary-color);
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 75px;
    gap: 15%;
    z-index: 3;
   
}


.menu1{
    display: flex;
    align-self: center;
    gap: 10%;
    width:75%;
}
.gap{
    width: 10%;
}




:root {
    --time:30s;
    --primary-color: rgb(200, 42, 30); 
    --secondary-color: rgb(0, 0, 0); /* Transparent blue */
    --text-color: #E5E4E2; /* Light gray */
    --background-color:white;
}
.homepage{

    width: 100vw; /* Full width */
    height: 100vh;/* Full height */
    
    overflow: hidden; 

}
.backg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; 
}
.ABOUTUS{
    width: 100%;
    background-color: var(--background-color);
    
}

.about-below{
    width: 100%;
    background:transparent;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    gap: 1rem;
}
.about-head{
    display: flex;
    justify-content: center;
    padding: 2% 0 0 0;
}

.about-pic{
    padding: 1.5vw .5vw 1.5vw 1.5vw;
    background: transparent;
    width: 60vw;

}
.carousel{
    background:transparent;    
}
.carousel-inner{
    border-radius: 2%;
}
.about-text{
    padding: 1.5vw 1.5vw 1.5vw .5vw;
    width: 40vw;
    text-decoration: none;
    background: transparent;
    font-family: "Poppins";
    font-weight: 300;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5); /* Semi-transparent black */
    z-index: 1; /* Ensure overlay is above the image */
}
.menu{
    display: none;
}
.h{
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 250;
    font-size: larger;
    color:var(--background-color);
}
.wtext{
    padding-top: 10px;
    color: #E5E4E2;
    font-family: "Poppins";
}


.Sponsors{
    
    height:1500px;
    background-color: var(--secondary-color);
    margin-bottom: 100px;
}

.wrapper{
    
    overflow: hidden;
    justify-content: center;
    padding: 4% 1%;
    display: grid;
    margin: 10px 2%;
    margin-left: 8%;
    gap: 30px;
    grid-template-columns:1fr 1fr 1fr ;
    
       margin-top: 1rem;

}

.item img{
    height: 100px;
    width: 300px;
    object-fit: contain; /* Ensures the logo fits within the box */

}
@media screen and (max-width:800px){
    .wrapper{
        
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:1000px){

    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .sidebar{
        z-index: 3;
        display:block;
        position:fixed;
        height: 100%;   
        width: 50%; 
        right:-50%;
        overflow-y: auto;
        transition:.4s ease-in-out;
        box-shadow: 4px 0px 15px rgba(0, 0, 0, 1); /* Deeper shadow */

        background-color: var(--primary-color);

        overflow-x: hidden;
    }
    
   .open{
    transform:translateX(-80%);

   }
   
     

    .grid{

        display: grid;
        color: white;
        padding-top: 20%;
        padding-left: 10%;
        gap:15%;
    }
    .menu {
        position: fixed;
        top:10px;right: 1%;
        background-color: rgba(0,0,0, 0);
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        z-index: 4;

      }
      .line {
        fill: none;
        stroke:black;

        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

      }
      .line1 {

        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
     
    
    .nav-bar{
        display: none;
    }
    .homepage{
        height: 100vh;
    }
    .backg{
        object-fit: cover; 
        overflow: hidden;

    }
    .overlay{
       display:hidden;

    }
    .front-cont{
        position: absolute;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        top: 10px;
        z-index: 2;
        background-color: rgba(0,0,0, 0);
    }
    .front-logo{
        
        height: 15vh;
    }
    .about-below{
        display: grid;
        width: 100%;
        margin:3% 0;
       
    }
    
    
    .about-pic{
        position:relative;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0% 10%;
       
    }
   
    .about-text{
        position:relative;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0% 5%;
    }

    
}
@media screen and (max-width:500px){
   .item{
    padding: 0 100px;
   }
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }
   
}